* {
  font-family: 'Raleway', sans-serif;
  color: white;
}

input {
  color: black;
}

body {
  background-color: rgb(21,33,43);
}

.containerNav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.containerNav img {
  max-width:100%;
  max-height: 40px;
}

.appBody {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 1px white dashed;
  height: 600px;
}

.userBox {
  width: 35%;
}

.chatBox {
  width: 65%;
  border: 1px purple solid;
}

.allChatsAddMessage {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px green solid;
}

.allChats {
  border: 1px orange solid;
  height: 100%;
  overflow: scroll;
}

.addMessage {
  border: 1px yellow solid;
}

/* USERS ONLINE */
.usersContainer {
  border-radius: 10px;
  background-color: rgb(24,40,52);
  height: 100%;
  overflow: scroll;
  width: 100%;
}

.usersTitle {
  font-weight: bold;
  font-size: 1.4em;
  text-transform: uppercase;
  height: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  border-bottom: 1px rgb(166,171,175) solid;
}

.userCardContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
}

.userCard {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  width: 100%;
  background-color: rgb(24,40,52);
  border-bottom: 1px rgb(166,171,175) solid;
  transition: 0.3s;
  position: relative;
}

.userCard p {
  margin-left: 20px;
}

.userCard img {
  max-height: 100%;
}

.userCard:hover {
  background-color: rgb(56,68,77);
}